/* .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    float: left;
    height: 100vh;
    width: 87%;
    position: fixed;
    left: 13%;
    background-color: #186ba7;
    top: 56px;
    text-align: center;
}

.conteudo a{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    background-color: orange;
    border-radius: 20px;
    padding: 12px;
    top: -150px;
    left: -170px;
    font-weight: 500;
    font-size: 20px;
}
.conteudo a:hover{
    background-color: #f3a052;
    border-radius: 20px;
    padding: 10px;
    color: black;

    cursor: pointer;

}
.conteudo h1{
    font-size: 80px;
    position: relative;
    left: -140px;
    top: -150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.conteudo p{
    position: relative;
   text-decoration: none;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   top: -180px;
   left: -160px;
   font-size: 25px;
   font-weight: 500;
} */