
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
}
.nav{
    display: flex;
    font-size: 15px;
    border: none;
    justify-content: center;
    align-items: center;
    height: 80px;
    /* background: linear-gradient(135deg, #003366, #0055a5); */
    background: #bad2eb;
    /* background-color: rgb(17, 0, 255); */
    width: 100%;
    position: fixed; /* importante para o login ficar na direita*/
    z-index: 1000;
    
}
.nav-direita{
    display: flex;
    gap: 20px;
    position: absolute; /* joga para o canto direito*/
    right: 40px;
    padding: 0px 240px;
}
.nav-center{
    display: flex;
    gap: 40px;

}
.nav-direita a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: black;
    margin-right: 1px;
    margin-left: 1px;
    padding: 10px 23px;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.nav-center a:hover{
    background-color: rgba(255,255,255,0.2);
    transform: translateY(-2px);
    border-radius: 6px;
}
.nav-direita a:hover{
    background-color: #e6f2ff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    
}
.menu-lateral a:hover{
    background-color: rgba(255,255,255,0.2);
    transform: translate( 0px, -2px);
    border-radius: 6px;
}
.nav-center a{
    
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.nav-esquerda{
    display: flex;
    position: absolute;
    gap: 8px;
    left: 40px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    padding: 0 238px;
}
.nav-esquerda span{
    color: #a0d8ff;
    font-weight: 400;
}



